# --- Maven / Java ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
*.class
*.log
hs_err_pid*
replay_pid*

# --- Maven Wrapper (NE PAS ignorer ; on commit tout) ---
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

# --- Gradle (si jamais) ---
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# --- IDEs ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# --- OS / divers ---
.DS_Store
Thumbs.db
*.tmp
*.swp
