<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Ajouter une note</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>

<body layout:fragment="content">
<div class="container mt-4">
    <h2>Ajouter une note médicale</h2>

    <form th:action="@{/notes/add/{patientId}(patientId=${patientId})}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="mb-3">
            <label class="form-label">Contenu</label>
<!--

-->
            <textarea class="form-control" name="content" rows="4" required></textarea>
        </div>

        <input type="hidden" name="patientId" th:value="${patientId}"/>

        <button type="submit" class="btn btn-primary">Ajouter</button>
        <a class="btn btn-secondary"
           th:href="@{/notes/patient/{patientId}(patientId=${patientId})}">Annuler</a>
    </form>
</div>
</body>
</html>