<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Medilabo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body layout:fragment="content">

<div class="container mt-3">
    <!-- Ligne avec les deux boutons -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Bouton gauche : Ajouter un patient -->
        <a class="btn btn-primary" th:href="@{/patients/add}">
            <i class="bi bi-person-plus-fill"></i> Ajouter un patient
        </a>

        <!-- Bouton droit : Déconnexion -->
        <form th:action="@{/logout}" method="post" class="d-inline">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="btn btn-outline-danger">
                <i class="bi bi-box-arrow-right"></i> Déconnexion
            </button>
        </form>

    </div>

    <!-- Message de bienvenue -->
    <div th:if="${#authentication != null}" class="alert alert-info text-center">
        Bienvenue, <strong th:text="${#authentication.name}">Nom</strong> !
    </div>
</div>


<div class="container p-3">
    <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}">
    </div>
    <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}">
    </div>
    <div>
        <div class="pb-2">
            <div class="card">
                <div class="card-header bg-primary-subtle">Search Patient</div>
                <div class="card-body">
                    <form th:action="@{/patients/search}" method="get"
                          class="d-flex flex-row align-items-end justify-content-around">

                        <div>
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>

                        <div>
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName">
                        </div>

                        <div>
                            <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                            <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">Patient List</h4>
        </div>

        <div class="card">

            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Patient Number</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.id}"></td>
                        <td th:text="${#strings.capitalize(patient.nom)}"></td>
                        <td th:text="${#strings.capitalize(patient.prenom)}"></td>
                        <td th:text="${#temporals.format(patient.dateDeNaissance, 'dd-MM-yyyy')}"></td>
                        <td th:text="${patient.genre}"></td>
                        <td th:text="${patient.adresse}"></td>
                        <td th:text="${patient.telephone}"></td>

                        <td>
                            <a class="btn btn-success" th:href="@{/patient/update/{id}(id=${patient.id})}">
                                <i class="bi bi-pencil-fill">Modifier</i>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/notes/add/{patientId}(patientId=${patient.id})}" class="btn btn-primary mb-3">
                                <i class="bi bi-journal-plus"></i> Ajouter une note
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger"
                               th:href="@{/patient/delete/{id}(id=${patient.id})}"
                               onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce patient ?');">
                                <i class="bi bi-trash"> Supprimer</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>