<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Résultats de la recherche</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Résultats de la recherche</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Genre</th>
            <th>Adresse</th>
            <th>Téléphone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.nom}"></td>
            <td th:text="${patient.prenom}"></td>
            <td th:text="${#temporals.format(patient.dateDeNaissance, 'dd-MM-yyyy')}"></td>
            <td th:text="${patient.genre}"></td>
            <td th:text="${patient.adresse}"></td>
            <td th:text="${patient.telephone}"></td>
        </tr>
        </tbody>
    </table>
    <div class="mt-4 text-center">
        <a class="btn btn-outline-primary btn-lg px-4" th:href="@{/homePage}">
            Retour à l’accueil
        </a>

    </div>

</div>
</body>
</html>
